 <%= form_with(model: @user, local: true) do |f| %>

    <%#= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
    </div>
    <div class="mb-3">
        <%= f.text_field :email, class:"form-control", placeholder: "Email" %>
    </div>
    <div class="mb-3">
        <%= f.password_field :password, class:"form-control", placeholder: "Password" %>
    </div>
    <div class="mb-3">
        <%= f.password_field :pass_confirmation, class:"form-control", placeholder: "Password Confirmation" %>
    </div>
    <%= f.submit btn_msg, class:"btn btn-success w-100" %>
<% end%>  