<% provide(:title, @user.name) %>
<div class="row mt-4">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                User Infomation
            </div>
            <div class="card-body text-center">
                <%= gravatar_for(@user, size: 52) %>
                <h5><%= @user.name %></h5>
                <p><%= @user.email %></p>

                <%= render 'follow_form' if logged_in? %>
                <%= render 'shared/stats' %>
            </div>
            <% if @user == current_user %>
                <div class="card-footer">
                    <%= render 'microposts/micropost_form' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Activity Feed
            </div>
            <div class="card-body">
                <% if @microposts.any? %>
                    <%= render @microposts %>
                    <div class="pagination justify-content-center mt-4">
                        <%= will_paginate @microposts %>
                    </div>
                <% else %>
                    <h4 class="text-center">There's no posts here...</h4>
                <% end %>
            </div>
        </div>
    </div>
</div>