<% provide(:title, @user.name) %>
<div class="row mt-4">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                User Infomation
            </div>
            <div class="card-body text-center">
                <%= gravatar_for(@user, size: 52) %>
                <h5><%= @user.name %></h5>
                <p><%= @user.email %></p>

                <%= render 'follow_form' if logged_in? %>
                <%= render 'shared/stats' %>
            </div>
        </div>
    </div>
</div>