<%= form_with(model: [:admin, @category], local: true) do |f| %>
    <p class="text-left">Title</p>
    <%= f.text_field :title, class:"form-control" %>
    <p class="text-left">Description</p>
    <%= f.text_area :description, class:"form-control" %><br>
    <%= f.submit :submit, class: 'btn btn-primary' %>
    <%= link_to "cancel", admin_categories_path, class: 'btn btn-danger' %>
<% end %>