<div class="container d-flex flex-fill flex-column">
    <div class="row py-4">
        <div class="col-12 col-md-6 text-center text-md-left"><h1>Admin | Categories</h1></div>
        <div class="col-12 col-md-6 align-self-center">
            <div class="d-flex justify-content-center justify-content-md-end">
                <a class="btn btn-primary" href="/admin/categories/new">Create new Category</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">Title</th>
                    <th style="width: 40%;">Description</th>
                    <th style="width: 10%;">Word/s</th>
                    <th style="width: 20%;">Action</th>
                </tr>
            </thead>
            <% @categories.each do |category| %>
                <tbody>
                    <tr>
                        <td><%= link_to category.title, admin_category_path(category) %></td>
                        <td><%= category.description %></td>
                        <td><%= category.words.count %></td>
                        <td>
                            <%= link_to 'edit', edit_admin_category_path(category), class: 'btn btn-primary' %>
                            <%= link_to 'delete', admin_category_path(category.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
                        </td>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>
    <%= will_paginate %>
</div>