<div class="container d-flex flex-fill flex-column">    
    <div class="mt-4 text-center">
        <h1>Categories</h1>
    </div>
    <% if @categories.any? %>
        <% @categories.each do |category| %>
            <div class="col-md-6 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="row">
                                <div class="col">
                                    <h5 class="mb-0"><%= category.title %></h5>
                                </div>
                            </div>
                        </h5>
                        <hr class="my-3">
                        <p class="card-text"><%= category.description %></p>
                        <p class="text-right">
                            <% if @lessons.any? %>
                                <% @lessons.each do |lesson| %>
                                    <% if category.id == lesson.category.id %>
                                        <%= link_to 'see result', category_lesson_path(category_id: category.id, id: lesson.id) %>
                                    <% else %>
                                        <%= button_to 'take lesson', category_lessons_path(category_id: category.id), class: 'btn btn-primary' %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <%= button_to 'take lesson', category_lessons_path(category_id: category.id), class: 'btn btn-primary' %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <h2 class="text-center">No available lessons yet.</h2>
    <% end %>
    <%= will_paginate %>
</div>